<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本列表</title>
    <style>
        .basic{
            height: 40px;
            width: 200px;
            color:crimson;
            background-color: aqua;
            font-size: 4opx;
        }
    </style>
    <script type = "text/javascript" src = "../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 遍历对象 -->
        <h2>人员列表</h2>
        <button @click.once="add">添加一个老刘</button>
        <ul>
            <li v-for="(person,index) in persons" :key="index">
                {{person.name}} - {{person.age}}
            </li>
        </ul>
        <!-- 遍历对象 -->
        <h2>汽车信息</h2>
        <ul>
            <li v-for="(v,k) in car" :key="k">
                {{k}} - {{v}}
            </li>
        </ul>
        <!-- 遍历字符串 -->
        <h2>字符串</h2>
        <ul>
            <li v-for="(v,k) in str" :key="k">
                {{k}} - {{v}}
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    const vm = new Vue({
        el:'#root',
        data:{
            persons:[
                {id:'001',name:'张三',age:18},
                {id:'002',name:'李四',age:19},
                {id:'003',name:'王五',age:20}
            ],
            car:{
                name:'奥迪A8',
                price:'70￥',
                color:'黑色'
            },
            str:'fadsfskdj'
        },
        methods:{
            add(){
                const p = {id:'004', name:'老刘', age:40};
                this.persons.unshift(p);
            }
        }
    })
</script>
</html>