<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤-computed实现</title>
    <style>
        .basic{
            height: 40px;
            width: 200px;
            color:crimson;
            background-color: aqua;
            font-size: 4opx;
        }
    </style>
    <script type = "text/javascript" src = "../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 遍历对象 -->
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(person,index) in filPersons" :key="index">
                {{person.name}} - {{person.age}} - {{person.gender}}
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    const vm = new Vue({
        el:'#root',
        data:{
            keyWord:'',
            persons:[
                {id:'001',name:'马冬梅',age:18,gender:'女'},
                {id:'002',name:'周冬雨',age:19,gender:'女'},
                {id:'003',name:'周杰伦',age:20,gender:'男'},
                {id:'004',name:'温兆伦',age:20,gender:'男'}
            ]
        },
        computed:{
            filPersons(){
                return this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord) !== -1
                })
            }
        }

    })
</script>
</html>